*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    background-color: #1f1f43;
}
h2{
    display: flex;
    color: white;
    justify-content: center;
    margin: auto;
    font-size: 65px;
    text-shadow: 4px 0px orange;
}
.sounds{
    display: flex;
    justify-content: center;
    margin: 250px 10px;
    padding: 0px 0px;
}
.btn{
    color: red;
    display: flex;
    font-size: 77px;
    background-color: white;
    padding: 0px 100px;
    border: 2px solid red;
    border-radius: 13px;
    margin: auto 13px;
    width: 100px;
    height: 200px;
    justify-content: center;
    align-items: center;
}